* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (min-width: 125em) {
  html {
    font-size: 110%;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  html {
    font-size: 60%;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 43em) and (max-width: 62em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 34em) and (max-width: 43em) {
  html {
    font-size: 35%;
  }
}
@media (min-width: 23em) and (max-width: 34em) {
  html {
    font-size: 35%;
  }
}
@media (min-width: 13em) and (max-width: 23em) {
  html {
    font-size: 35%;
  }
}
@media (min-width: 37.4em) and (max-width: 45.85em) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 47em) and (max-width: 47.85em) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 49.5em) and (max-width: 57.6em) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 38em) and (max-width: 50em) {
  html {
    font-size: 45%;
  }
}
@media (min-width: 38em) and (max-width: 50em) {
  html {
    font-size: 45%;
  }
}
@media (min-width: 13em) and (max-width: 22em) {
  html {
    font-size: 25%;
  }
}

.three_big_line_icon {
  width: 5rem;
  height: 4rem;
  margin: 0 0 0 0.3rem;
  transition: all 0.3s ease-in;
}

.three_big_line_icon:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.addition_icon {
  height: 2rem;
  width: 2rem;
  color: #ffffff;
  background-color: #151522;
  padding: 0.4rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.addition_icon:hover {
  transform: scale(1.1);
}

.icon__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 3rem 0 0 0.5rem;
}
.icon__flex--icons {
  width: 2.2rem;
  height: 2.2rem;
  color: #151522;
  padding: 1.5rem;
  transition: all 0.4s ease;
  border-radius: 50%;
}
@media (min-width: 46em) and (max-width: 61em) {
  .icon__flex--icons {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 38em) and (max-width: 45em) {
  .icon__flex--icons {
    width: 3rem;
    height: 3rem;
    margin: 0 2rem;
  }
}
@media (min-width: 25em) and (max-width: 38em) {
  .icon__flex--icons {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem 0 2rem;
    padding: 1rem;
  }
}
@media (min-width: 13em) and (max-width: 25em) {
  .icon__flex--icons {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 1rem;
    padding: 1rem;
    z-index: 999;
  }
}
.icon__flex--icons:hover {
  background-color: #151522;
  cursor: pointer;
  color: #ffffff;
}
.icon__flex--icons:first-child {
  background-color: #151522;
  color: #ffffff;
  cursor: pointer;
}
.icon__flex .three_small_line {
  width: 2rem;
  height: 2rem;
  color: #b4f1ce;
}

.main__container {
  background-color: #e9e7fd;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 599px) {
  .main__container {
    overflow-y: visible;
    height: 100vh;
  }
}
@media (min-width: 3em) and (max-width: 50em) {
  .main__container {
    height: 100vh;
  }
}

.sub__container {
  background-color: #f3f6fd;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 3em) and (max-width: 50em) {
  .sub__container {
    height: 100vh;
  }
}
@media (max-width: 599px) {
  .sub__container {
    overflow-y: visible;
    height: 100vh;
    margin: 0 0 0 0;
  }
}

.vertical_line {
  width: 0.1rem;
  height: 3rem;
  background-color: gray;
}

.profilesection__image {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin: 0 1rem 0 1rem;
  transition: all 0.3s ease;
}

.sub_container_body_section {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.cards_section {
  overflow-y: auto;
}
.cards_section::-webkit-scrollbar {
  display: none;
}

.profilesection__image:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.in_projects_section {
  margin: 0 0 0 2rem;
}

.Portfolio__txt {
  font-size: 3.25rem;
  margin-left: 7rem;
  margin-right: 4rem;
  font-family: "poppins";
  font-weight: 600;
  transition: all 0.3s ease;
}

.Portfolio__txt:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Profile_name {
  font-size: 2rem;
  color: #151522;
  margin: 0 0 0 0;
  font-family: "poppins";
  font-weight: 600;
  transition: all 0.3s ease;
}

.Profile_name:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.time_left_button {
  background-color: rgba(47, 217, 247, 0.295);
  color: rgb(0, 183, 255);
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  margin: 1rem 2rem 0 0;
  transition: all 0.1s ease-in;
}
.time_left_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.time_left_button2,
.time_left_button3,
.time_left_button4,
.time_left_button5,
.time_left_button6 {
  margin: 1rem 2rem 0 0;
  background-color: #ffffff;
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
}

.time_left_button2,
.time_left_button6 {
  color: orangered;
}

.time_left_button3 {
  color: green;
}

.time_left_button4 {
  color: rgb(218, 129, 159);
}

.time_left_button5 {
  color: purple;
}

.card_1 {
  width: 24rem;
  height: 23.7rem;
  background-color: #ffffff;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
}
@media (min-width: 75em) and (max-width: 123em) {
  .card_1 {
    width: 28rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .card_1 {
    width: 35rem;
  }
}
@media (min-width: 125em) {
  .card_1 {
    width: 30rem;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  .card_1 {
    width: 35rem;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  .card_1 {
    width: 30rem;
  }
}
@media (min-width: 40em) and (max-width: 47em) {
  .card_1 {
    width: 45rem;
  }
}
.card_1 .progress_sub {
  height: 100%;
  background-color: rgba(0, 183, 255, 0.829);
  border-radius: 1.5rem;
  width: 90%;
}
.card_1 .card_addition_icon {
  background-color: rgb(0, 183, 255);
  color: #ffffff;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 1.5rem 0 0 -0.3rem;
}
.card_1 .time_left_btn {
  background-color: rgba(47, 217, 247, 0.295);
  color: rgb(0, 183, 255);
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  margin: 1rem 0 0 5rem;
  transition: all 0.1s ease-in;
}
.card_1 .time_left_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card_1 .progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: rgba(128, 128, 128, 0.534);
  border-radius: 1.5rem;
  overflow: hidden;
}
.card_1 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  text-align: right;
}
@media (min-width: 33em) and (max-width: 42em) {
  .card_1 .progress_digit {
    text-align: center;
  }
}
.card_1 .btnsection {
  border-top: 0.1px solid rgba(128, 128, 128, 0.63);
  display: flex;
}
.card_1 .btnsection__avatarone {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1.5rem 0 1.7rem;
}
.card_1 .btnsection__avatartwo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1rem 1rem -2.3rem;
}
.card_1:hover {
  cursor: pointer;
}
.card_1::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 183, 255, 0.829);
  width: 80%;
  height: 0.3rem;
  visibility: hidden;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0 ease-in-out;
  bottom: -1.3rem;
  transform: translate(-50%, -50%);
  margin: 0 0 0 2rem;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_1::before {
    margin: 0 0 0 5rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_1::before {
    margin: 0 0 0 2.2rem;
  }
}
@media (min-width: 37em) and (max-width: 47em) {
  .card_1::before {
    margin: 0 0 0 4.5rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_1::before {
    margin: 0 0 0 1.75rem;
  }
}
.card_1::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 183, 255, 0.829);
  visibility: hidden;
  transition: all 0 ease-in-out;
  margin: 0 0 0 4rem;
  bottom: -2.3rem;
  border-radius: 2rem;
  width: 65%;
  height: 0.3rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_1::after {
    margin: 0 0 0 10rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_1::after {
    margin: 0 0 0 4.2rem;
  }
}
@media (min-width: 37em) and (max-width: 48em) {
  .card_1::after {
    margin: 0 0 0 8rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_1::after {
    margin: 0 0 0 3.5rem;
  }
}

.card_1:hover::before,
.card_1:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_2 {
  width: 24rem;
  height: 23.7rem;
  background-color: #fde5cc;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
}
@media (min-width: 75em) and (max-width: 123em) {
  .card_2 {
    width: 28rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .card_2 {
    width: 35rem;
  }
}
@media (min-width: 125em) {
  .card_2 {
    width: 30rem;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  .card_2 {
    width: 35rem;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  .card_2 {
    width: 30rem;
  }
}
@media (min-width: 40em) and (max-width: 47em) {
  .card_2 {
    width: 45rem;
  }
}
.card_2 .progress_sub {
  height: 100%;
  background-color: orangered;
  border-radius: 1.5rem;
  width: 40%;
}
.card_2 .card_addition_icon {
  background-color: orangered;
  color: #ffffff;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 1.5rem 0 0 -0.3rem;
}
.card_2 .time_left_btn {
  background-color: orangered;
  color: #ffffff;
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  margin: 0 0 0 0;
  transition: all 0.1s ease-in;
}
.card_2 .time_left_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card_2 .progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card_2 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_2 .btnsection {
  border-top: 0.1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_2 .btnsection__avatarone {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1.5rem 0 1.7rem;
}
.card_2 .btnsection__avatartwo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1rem 1rem -2.3rem;
}
.card_2:hover {
  cursor: pointer;
}
.card_2::before {
  content: "";
  position: absolute;
  background-color: #fad6b0;
  width: 80%;
  height: 0.3rem;
  visibility: hidden;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0 ease-in-out;
  bottom: -1.3rem;
  transform: translate(-50%, -50%);
  margin: 0 0 0 2rem;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_2::before {
    margin: 0 0 0 5rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_2::before {
    margin: 0 0 0 2.2rem;
  }
}
@media (min-width: 37em) and (max-width: 47em) {
  .card_2::before {
    margin: 0 0 0 4.5rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_2::before {
    margin: 0 0 0 1.75rem;
  }
}
.card_2::after {
  content: "";
  position: absolute;
  background-color: #fad6b0;
  visibility: hidden;
  transition: all 0 ease-in-out;
  margin: 0 0 0 4rem;
  bottom: -2.3rem;
  border-radius: 2rem;
  width: 65%;
  height: 0.3rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_2::after {
    margin: 0 0 0 10rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_2::after {
    margin: 0 0 0 4.2rem;
  }
}
@media (min-width: 37em) and (max-width: 48em) {
  .card_2::after {
    margin: 0 0 0 8rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_2::after {
    margin: 0 0 0 3.5rem;
  }
}

.card_2:hover::before,
.card_2:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_3 {
  width: 24rem;
  height: 23.7rem;
  background-color: #b4f1ce;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
}
@media (min-width: 75em) and (max-width: 123em) {
  .card_3 {
    width: 28rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .card_3 {
    width: 35rem;
  }
}
@media (min-width: 125em) {
  .card_3 {
    width: 30rem;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  .card_3 {
    width: 35rem;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  .card_3 {
    width: 30rem;
  }
}
@media (min-width: 40em) and (max-width: 47em) {
  .card_3 {
    width: 45rem;
  }
}
.card_3 .progress_sub {
  height: 100%;
  background-color: green;
  border-radius: 1.5rem;
  width: 50%;
}
.card_3 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_3 .card_addition_icon {
  background-color: green;
  color: #ffffff;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
}
.card_3 .time_left_btn {
  background-color: #ffffff;
  color: green;
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 0.1s ease-in;
}
.card_3 .time_left_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card_3 .progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card_3 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_3 .btnsection {
  border-top: 0.1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
}
.card_3 .btnsection__avatarone {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.card_3 .btnsection__avatartwo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0 0 -2.3rem;
}
.card_3:hover {
  cursor: pointer;
}
.card_3::before {
  content: "";
  position: absolute;
  background-color: green;
  width: 80%;
  height: 0.3rem;
  visibility: hidden;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0 ease-in-out;
  bottom: -1.3rem;
  transform: translate(-50%, -50%);
  margin: 0 0 0 2rem;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_3::before {
    margin: 0 0 0 5rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_3::before {
    margin: 0 0 0 2.2rem;
  }
}
@media (min-width: 37em) and (max-width: 47em) {
  .card_3::before {
    margin: 0 0 0 4.5rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_3::before {
    margin: 0 0 0 1.75rem;
  }
}
.card_3::after {
  content: "";
  position: absolute;
  background-color: green;
  visibility: hidden;
  transition: all 0 ease-in-out;
  margin: 0 0 0 4rem;
  bottom: -2.3rem;
  border-radius: 2rem;
  width: 65%;
  height: 0.3rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_3::after {
    margin: 0 0 0 10rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_3::after {
    margin: 0 0 0 4.2rem;
  }
}
@media (min-width: 37em) and (max-width: 48em) {
  .card_3::after {
    margin: 0 0 0 8rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_3::after {
    margin: 0 0 0 3.5rem;
  }
}

.card_3:hover::before,
.card_3:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_4 {
  width: 24rem;
  height: 23.7rem;
  background-color: #ffd3e2;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
}
@media (min-width: 75em) and (max-width: 123em) {
  .card_4 {
    width: 28rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .card_4 {
    width: 35rem;
  }
}
@media (min-width: 125em) {
  .card_4 {
    width: 30rem;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  .card_4 {
    width: 35rem;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  .card_4 {
    width: 30rem;
  }
}
@media (min-width: 40em) and (max-width: 47em) {
  .card_4 {
    width: 45rem;
  }
}
.card_4 .progress_sub {
  height: 100%;
  background-color: rgb(218, 129, 159);
  border-radius: 1.5rem;
  width: 20%;
}
.card_4 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_4 .card_addition_icon {
  background-color: rgb(218, 129, 159);
  color: #ffffff;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 1.5rem 0 0 -0.3rem;
}
.card_4 .time_left_btn {
  background-color: #ffffff;
  color: rgb(218, 129, 159);
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  margin: 1rem 0 0 5rem;
  transition: all 0.1s ease-in;
}
.card_4 .time_left_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card_4 .progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card_4 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_4 .btnsection {
  border-top: 0.1px solid #ffffff;
  display: flex;
}
.card_4 .btnsection__avatarone {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1.5rem 0 1.7rem;
}
.card_4 .btnsection__avatartwo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1rem 1rem -2.3rem;
}
.card_4:hover {
  cursor: pointer;
}
.card_4::before {
  content: "";
  position: absolute;
  background-color: rgb(218, 129, 159);
  width: 80%;
  height: 0.3rem;
  visibility: hidden;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0 ease-in-out;
  bottom: -1.3rem;
  transform: translate(-50%, -50%);
  margin: 0 0 0 2rem;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_4::before {
    margin: 0 0 0 5rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_4::before {
    margin: 0 0 0 2.2rem;
  }
}
@media (min-width: 37em) and (max-width: 47em) {
  .card_4::before {
    margin: 0 0 0 4.5rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_4::before {
    margin: 0 0 0 1.75rem;
  }
}
.card_4::after {
  content: "";
  position: absolute;
  background-color: rgb(218, 129, 159);
  visibility: hidden;
  transition: all 0 ease-in-out;
  margin: 0 0 0 4rem;
  bottom: -2.3rem;
  border-radius: 2rem;
  width: 65%;
  height: 0.3rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_4::after {
    margin: 0 0 0 10rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_4::after {
    margin: 0 0 0 4.2rem;
  }
}
@media (min-width: 37em) and (max-width: 48em) {
  .card_4::after {
    margin: 0 0 0 8rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_4::after {
    margin: 0 0 0 3.5rem;
  }
}

.card_4:hover::before,
.card_4:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_5 {
  width: 24rem;
  height: 23.7rem;
  background-color: #edcdf8;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
}
@media (min-width: 75em) and (max-width: 123em) {
  .card_5 {
    width: 28rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .card_5 {
    width: 35rem;
  }
}
@media (min-width: 125em) {
  .card_5 {
    width: 30rem;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  .card_5 {
    width: 35rem;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  .card_5 {
    width: 30rem;
  }
}
@media (min-width: 40em) and (max-width: 47em) {
  .card_5 {
    width: 45rem;
  }
}
.card_5 .progress_sub {
  height: 100%;
  background-color: purple;
  border-radius: 1.5rem;
  width: 70%;
}
.card_5 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_5 .card_addition_icon {
  background-color: purple;
  color: #ffffff;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 1.5rem 0 0 -0.3rem;
}
.card_5 .time_left_btn {
  background-color: #ffffff;
  color: purple;
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  margin: 1rem 0 0 5rem;
  transition: all 0.1s ease-in;
}
.card_5 .time_left_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card_5 .progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card_5 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_5 .btnsection {
  border-top: 0.1px solid #ffffff;
  display: flex;
}
.card_5 .btnsection__avatarone {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1.5rem 0 1.7rem;
}
.card_5 .btnsection__avatartwo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1rem 1rem -2.3rem;
}
.card_5:hover {
  cursor: pointer;
}
.card_5::before {
  content: "";
  position: absolute;
  background-color: purple;
  width: 80%;
  height: 0.3rem;
  visibility: hidden;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0 ease-in-out;
  bottom: -1.3rem;
  transform: translate(-50%, -50%);
  margin: 0 0 0 2rem;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_5::before {
    margin: 0 0 0 5rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_5::before {
    margin: 0 0 0 2.2rem;
  }
}
@media (min-width: 37em) and (max-width: 47em) {
  .card_5::before {
    margin: 0 0 0 4.5rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_5::before {
    margin: 0 0 0 1.75rem;
  }
}
.card_5::after {
  content: "";
  position: absolute;
  background-color: purple;
  visibility: hidden;
  transition: all 0 ease-in-out;
  margin: 0 0 0 4rem;
  bottom: -2.3rem;
  border-radius: 2rem;
  width: 65%;
  height: 0.3rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_5::after {
    margin: 0 0 0 10rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_5::after {
    margin: 0 0 0 4.2rem;
  }
}
@media (min-width: 37em) and (max-width: 48em) {
  .card_5::after {
    margin: 0 0 0 8rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_5::after {
    margin: 0 0 0 3.5rem;
  }
}

.card_5:hover::before,
.card_5:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_6 {
  width: 24rem;
  height: 23.7rem;
  background-color: #fde5cc;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
}
@media (min-width: 75em) and (max-width: 123em) {
  .card_6 {
    width: 28rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .card_6 {
    width: 35rem;
  }
}
@media (min-width: 125em) {
  .card_6 {
    width: 30rem;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  .card_6 {
    width: 35rem;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  .card_6 {
    width: 30rem;
  }
}
@media (min-width: 40em) and (max-width: 47em) {
  .card_6 {
    width: 45rem;
  }
}
.card_6 .progress_sub {
  height: 100%;
  background-color: orangered;
  border-radius: 1.5rem;
  width: 10%;
}
.card_6 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_6 .card_addition_icon {
  background-color: orangered;
  color: #ffffff;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 1.5rem 0 0 -0.3rem;
}
.card_6 .time_left_btn {
  background-color: orangered;
  color: #ffffff;
  font-family: "poppins";
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1.2rem;
  margin: 1rem 0 0 5rem;
  transition: all 0.1s ease-in;
}
.card_6 .time_left_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card_6 .progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card_6 .progress_digit {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}
.card_6 .btnsection {
  border-top: 0.1px solid #ffffff;
  display: flex;
}
.card_6 .btnsection__avatarone {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1.5rem 0 1.7rem;
}
.card_6 .btnsection__avatartwo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1rem 1rem -2.3rem;
}
.card_6:hover {
  cursor: pointer;
}
.card_6::before {
  content: "";
  position: absolute;
  background-color: #fad6b0;
  width: 80%;
  height: 0.3rem;
  visibility: hidden;
  border-radius: 2rem;
  opacity: 0;
  transition: all 0 ease-in-out;
  bottom: -1.3rem;
  transform: translate(-50%, -50%);
  margin: 0 0 0 2rem;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_6::before {
    margin: 0 0 0 5rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_6::before {
    margin: 0 0 0 2.2rem;
  }
}
@media (min-width: 37em) and (max-width: 47em) {
  .card_6::before {
    margin: 0 0 0 4.5rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_6::before {
    margin: 0 0 0 1.75rem;
  }
}
.card_6::after {
  content: "";
  position: absolute;
  background-color: #fad6b0;
  visibility: hidden;
  transition: all 0 ease-in-out;
  margin: 0 0 0 4rem;
  bottom: -2.3rem;
  border-radius: 2rem;
  width: 65%;
  height: 0.3rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (min-width: 34em) and (max-width: 43em) {
  .card_6::after {
    margin: 0 0 0 10rem;
  }
}
@media (min-width: 85em) and (max-width: 124em) {
  .card_6::after {
    margin: 0 0 0 4.2rem;
  }
}
@media (min-width: 37em) and (max-width: 48em) {
  .card_6::after {
    margin: 0 0 0 8rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_6::after {
    margin: 0 0 0 3.5rem;
  }
}

.card_6:hover::before,
.card_6:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.cards_section {
  padding-bottom: 12rem;
}
@media (min-width: 34em) and (max-width: 43em) {
  .cards_section {
    margin: 0 0 0 5rem;
  }
}
@media (min-width: 16em) and (max-width: 23em) {
  .cards_section {
    padding-bottom: 1rem;
  }
}

.card_heading {
  font-size: 1.5rem;
  text-align: center;
  color: #151522;
  font-family: "poppins";
}

.card_sub_heading {
  font-size: 1.2rem;
  color: gray;
  font-family: "poppins";
  font-weight: 595;
  text-align: center;
}

.smallcard_scr {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 0 0 8rem 0;
}

.twodoticon {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  margin: 2rem 1rem;
}
.twodoticon__first {
  background-color: #151522;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
.twodoticon__second {
  background-color: #151522;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

.smallcards__staricon2 {
  display: none;
}

.smallcards:hover .smallcards__staricon {
  display: none;
}

.smallcards:hover .smallcards__staricon2 {
  display: block;
}

.cardflex {
  display: flex;
  justify-content: space-between;
}
.cardflex__date {
  color: gray;
  font-size: 1.2rem;
  margin: 0 0 0 1rem;
  font-family: "poppins";
}
.cardflex__icon {
  color: #151522;
  height: 1.8rem;
  width: 1.8rem;
  margin: 0 1.5rem 0 0;
}

.two_card_flex {
  display: flex;
  margin: 5rem 4rem 0 6rem;
  align-items: center;
  gap: 10rem;
}
@media (min-width: 37.4em) and (max-width: 47.85em) {
  .two_card_flex {
    width: 50rem;
  }
}
@media (min-width: 25em) and (max-width: 37.3em) {
  .two_card_flex {
    margin-left: 4rem;
  }
}
@media (min-width: 45em) and (max-width: 49em) {
  .two_card_flex {
    width: 55rem;
    margin: 4rem 2rem 0 4rem;
  }
}
@media (min-width: 40em) and (max-width: 45em) {
  .two_card_flex {
    width: 55rem;
  }
}
@media (min-width: 44em) and (max-width: 50em) {
  .two_card_flex {
    width: 80rem;
  }
}
@media (min-width: 40rem) and (max-width: 44em) {
  .two_card_flex {
    width: 70rem;
  }
}
@media (min-width: 36rem) and (max-width: 40em) {
  .two_card_flex {
    width: 60rem;
  }
}

.cardinfo_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.progress_txt {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 1rem 2rem -0.5rem 1.7rem;
}

.progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: rgba(128, 128, 128, 0.534);
  border-radius: 1.5rem;
  overflow: hidden;
}

.btnsection {
  border-top: 0.1px solid rgba(128, 128, 128, 0.63);
  display: flex;
}
.btnsection__avatarone {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1.5rem 0 1.7rem;
}
.btnsection__avatartwo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 1.5rem 1rem 1rem -2.3rem;
}

.flex_title {
  display: flex;
  align-items: center;
}

.submit_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 0 0 0;
  border-top: 0.1px solid rgba(128, 128, 128, 0.63);
}

.btnsection__img1 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0 0 1rem;
}

.btnsection__img2 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0 0 -0.5rem;
}

.image_flex {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
}

.progress_status {
  color: #151522;
  font-size: 1.2rem;
  font-family: "poppins";
  text-align: right;
  margin: 1rem 1.7rem 1rem 0;
}
@media (min-width: 33em) and (max-width: 42em) {
  .progress_status {
    margin-right: 10rem;
  }
}
@media (min-width: 32em) and (max-width: 42em) {
  .progress_status {
    margin-right: 4rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .progress_status {
    margin-right: 2rem;
  }
}
@media (min-width: 26em) and (max-width: 31em) {
  .progress_status {
    margin-right: 3rem;
  }
}
@media (min-width: 16em) and (max-width: 22em) {
  .progress_status {
    margin-right: 3rem;
  }
}

.addition_icons,
.addition_icons2,
.addition_icons3,
.addition_icons4,
.addition_icons5,
.addition_icons6 {
  background-color: rgb(0, 183, 255);
  color: #ffffff;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 0 0 0 1rem;
}

.addition_icons2 {
  background-color: orangered;
  color: #ffffff;
}

.addition_icons3 {
  color: #ffffff;
  background-color: green;
}

.addition_icons4 {
  background-color: rgb(218, 129, 159);
}

.addition_icons5 {
  background-color: purple;
}

.addition_icons6 {
  background-color: orangered;
}

@media (min-width: 75em) and (max-width: 123em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 28rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 35rem;
  }
}
@media (min-width: 125em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 30rem;
  }
}
@media (min-width: 98em) and (max-width: 125em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    margin: 0 2rem;
    width: 50rem;
  }
}
@media (min-width: 87em) and (max-width: 99em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 35rem;
  }
}
@media (min-width: 62em) and (max-width: 68em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 30rem;
  }
}
@media (min-width: 50em) and (max-width: 58em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 40rem;
  }
}
@media (min-width: 44em) and (max-width: 49em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 45rem;
  }
}
@media (min-width: 38em) and (max-width: 42em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 90rem;
  }
}
@media (min-width: 25em) and (max-width: 34.3em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 50rem;
  }
}
@media (min-width: 25em) and (max-width: 37.3em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 50rem;
  }
}
@media (min-width: 57em) and (max-width: 61em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 50rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 50rem;
  }
}
@media (min-width: 16em) and (max-width: 23em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 60rem;
  }
}
@media (min-width: 37.5em) and (max-width: 50em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 70rem;
  }
}
@media (min-width: 36.5em) and (max-width: 39em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    width: 60rem;
  }
}
@media (min-width: 33em) and (max-width: 34em) {
  .card_1,
  .card_2,
  .card_3,
  .card_4,
  .card_5,
  .card_6 {
    margin-left: 3rem;
  }
}

.bellsection {
  position: relative;
}
.bellsection__icon {
  height: 2.5rem;
  width: 4rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
}
.bellsection__icon:hover {
  transform: rotate(20deg);
  cursor: pointer;
}
.bellsection__dot {
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  top: 10%;
  left: 55%;
  border-radius: 50%;
  background-color: red;
}

.searchbar {
  position: relative;
  margin-left: 0;
}
@media (min-width: 13em) and (max-width: 27em) {
  .searchbar {
    margin-top: 10rem;
    margin-left: -20rem;
    width: 10rem;
  }
}
.searchbar__element {
  width: 35rem;
  height: 3rem;
  outline: none;
  padding: 1.8rem 3rem;
  border-radius: 5rem;
  border: none;
}
@media (min-width: 8em) and (max-width: 25em) {
  .searchbar__element {
    font-size: 2rem;
  }
}
.searchbar__icon {
  position: absolute;
  top: 30%;
  left: 2%;
  height: 1.5rem;
  width: 2rem;
}

.header__flex {
  margin: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 124em) and (max-width: 133em) {
  .header__flex {
    margin-left: 1rem;
  }
}
@media (min-width: 117em) and (max-width: 124.93em) {
  .header__flex {
    margin-left: 5rem;
  }
}
@media (min-width: 107em) and (max-width: 117em) {
  .header__flex {
    margin-left: 5rem;
  }
}
@media (min-width: 97em) and (max-width: 107em) {
  .header__flex {
    margin-left: 4.5rem;
  }
}
@media (min-width: 81em) and (max-width: 97em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 98em) and (max-width: 81em) {
  .header__flex {
    margin-left: 6rem;
  }
}
@media (min-width: 68em) and (max-width: 75em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 68em) and (max-width: 80em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 50em) and (max-width: 68em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 44em) and (max-width: 50em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 34em) and (max-width: 40em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 34em) and (max-width: 37em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 30em) and (max-width: 34em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 26em) and (max-width: 30em) {
  .header__flex {
    margin-left: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 26em) {
  .header__flex {
    margin-left: 1.25rem;
  }
}

.profile_class {
  display: flex;
  align-items: center;
}

.bodysection {
  display: flex;
  justify-content: space-between;
  margin: 4rem 4rem;
  width: 100%;
}
.bodysection__heading {
  font-size: 2.5rem;
  color: #151522;
  font-family: "poppins";
  transition: all 0.3s ease;
}
.bodysection__heading:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.bodysection__date {
  font-size: 1.4rem;
  color: #151522;
  font-family: "poppins";
  transition: all 0.3s ease;
  margin-right: 7rem;
}
.bodysection__date:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.boxes {
  display: flex;
  margin: 0 -2rem 0 0;
}
.boxes__number {
  font-size: 1.8rem;
  font-family: "poppins";
  color: #151522;
  margin: 0 0 0 2rem;
}
.boxes__heading {
  font-size: 1.2rem;
  font-family: "poppins";
  color: rgba(128, 128, 128, 0.685);
  margin: 0 0 0 2rem;
}
.boxes__icon {
  color: gray;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 2rem;
}

.in_projects_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}

.icons {
  display: flex;
  justify-content: space-between;
}
.icons__fourline {
  color: #151522;
  width: 2.4rem;
  height: 2.5rem;
  margin: 0 2rem 0 0;
  transition: all 0.58s ease;
}
.icons__fourline:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}
.icons__square {
  color: #151522;
  width: 2.4rem;
  height: 2.5rem;
  transition: all 0.58s ease;
}
.icons__square:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.three_small_line {
  color: #151522;
  margin: 0 0 0 0rem;
  width: 2rem;
  height: 2rem;
}

.square_icon {
  color: #151522;
  margin: 0 0 0 0;
  width: 2rem;
  height: 2rem;
}

.client_icon_flex {
  display: flex;
}

.row2 {
  overflow-y: auto;
  padding-bottom: 1.2rem;
}
.row2::-webkit-scrollbar {
  display: none;
}

.image_flex {
  display: flex;
  align-items: center;
}

.smallcards__staricon2 {
  width: 1.5rem;
  height: 1.5rem;
  color: #151522;
}

.clientmsgflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.623);
  margin: 3.3rem 0 0 0;
}
.clientmsgflex__txt {
  font-size: 2rem;
  color: #151522;
  font-family: "poppins";
  margin: 0 0 1rem 3rem;
}
.clientmsgflex__searchicon {
  width: 1.8rem;
  height: 1.8rem;
  color: #151522;
  margin: 0 1.9rem 1rem 0;
}

.in_projects_section_flex {
  display: flex;
  align-items: center;
}

.smallcard_src {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 0 0 0 0;
}
@media (min-width: 0em) and (max-width: 50em) {
  .smallcard_src {
    margin-top: -20rem;
    width: 50rem;
  }
}

.hide {
  display: none;
}

.twodoticonfooter {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin: 0 2.3rem 0 0;
}
.twodoticonfooter__first {
  background-color: #151522;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
.twodoticonfooter__second {
  background-color: #151522;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

.smallcards {
  border-bottom: 1px solid rgba(128, 128, 128, 0.623);
  transition: all 0.3s ease-in;
  padding: 0.5rem 0;
  width: 100vw;
}
@media (min-width: 100em) and (max-width: 124em) {
  .smallcards {
    margin-right: 1rem;
  }
}
@media (min-width: 100em) and (max-width: 124em) {
  .smallcards {
    margin-right: 1rem;
    font-size: 50%;
  }
}
@media (min-width: 125em) and (max-width: 143em) {
  .smallcards {
    margin-right: 1rem;
  }
}
.smallcards:hover {
  cursor: pointer;
  transform: translateX(1rem) scale(1.01);
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.5rem;
  margin-left: 0.5rem;
}
.smallcards__flex {
  display: flex;
}
.smallcards__img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin: 2rem 1.5rem 0 2rem;
}
.smallcards__iconflex {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35.2rem;
}
@media (min-width: 142em) and (max-width: 165em) {
  .smallcards__iconflex {
    width: 35rem;
  }
}
@media (min-width: 117em) and (max-width: 125em) {
  .smallcards__iconflex {
    width: 55rem;
  }
}
@media (min-width: 107em) and (max-width: 117em) {
  .smallcards__iconflex {
    width: 53rem;
  }
}
@media (min-width: 97em) and (max-width: 107em) {
  .smallcards__iconflex {
    width: 45rem;
  }
}
@media (min-width: 87em) and (max-width: 97em) {
  .smallcards__iconflex {
    width: 42rem;
  }
}
@media (min-width: 70em) and (max-width: 80rem) {
  .smallcards__iconflex {
    width: 30rem;
  }
}
@media (min-width: 52em) and (max-width: 58rem) {
  .smallcards__iconflex {
    width: 40rem;
  }
}
@media (min-width: 48em) and (max-width: 50rem) {
  .smallcards__iconflex {
    width: 88rem;
  }
}
@media (min-width: 46em) and (max-width: 48rem) {
  .smallcards__iconflex {
    width: 84rem;
  }
}
@media (min-width: 44em) and (max-width: 46rem) {
  .smallcards__iconflex {
    width: 80rem;
  }
}
@media (min-width: 42em) and (max-width: 44rem) {
  .smallcards__iconflex {
    width: 75rem;
  }
}
@media (min-width: 38em) and (max-width: 41rem) {
  .smallcards__iconflex {
    width: 70rem;
  }
}
@media (min-width: 34em) and (max-width: 38rem) {
  .smallcards__iconflex {
    width: 75rem;
  }
}
@media (min-width: 30em) and (max-width: 34rem) {
  .smallcards__iconflex {
    width: 70rem;
  }
}
@media (min-width: 25em) and (max-width: 30rem) {
  .smallcards__iconflex {
    width: 55rem;
  }
}
@media (min-width: 20em) and (max-width: 25em) {
  .smallcards__iconflex {
    width: 50rem;
  }
}
.smallcards__name {
  font-size: 1.5rem;
  font-family: "poppins";
  color: #151522;
}
.smallcards__staricon {
  width: 1.5rem;
  height: 1.5rem;
  color: #151522;
}
.smallcards__review {
  font-size: 1.2rem;
  margin: 0.5rem 0 0 0;
  color: rgba(128, 128, 128, 0.795);
  font-family: "poppins";
  font-weight: 500;
}
.smallcards__date {
  font-size: 1.1rem;
  font-family: "poppins";
  font-weight: 500;
  text-align: right;
  margin: 0 0 1.5rem 0;
  color: rgba(128, 128, 128, 0.562);
}

.sub_container_grid {
  display: grid;
  grid-template-columns: 8% 57% 35%;
}

.col_1 {
  overflow: auto;
  height: 100rem;
  filter: none;
}

.col_2 {
  height: 100vh;
  color: white;
  background-color: #ffffff;
  border-radius: 7%;
  overflow: auto;
  filter: none;
}
.col_2::-webkit-scrollbar {
  display: none;
}
@media (max-width: 800px) {
  .col_2 {
    height: 100vh;
    width: 91vw;
    margin-left: 2rem;
    padding-bottom: 0;
  }
}

.col_3 {
  height: auto;
  color: white;
  overflow: hidden;
}

@media (max-width: 800px) {
  .col_2 {
    z-index: 99999;
  }
  .col_3 {
    width: 91vw;
    font-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
