$main_container_bg_color: #e9e7fd;
$sub_container_bg_color: #f3f6fd;
$white_color: #ffffff;
$black_color: #151522;
$red_color: red;
$orange_color: #fde5cc;
$green_color: #b4f1ce;
$pink_color: #ffd3e2;
$purple_color: #edcdf8;
$gray_color: gray;
