// Flex Section
.header__flex {
  margin: 2rem 3rem 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile_class {
  display: flex;
  align-items: center;
}
.bodysection {
  display: flex;
  justify-content: space-between;
  margin: 4rem 4rem;
  &__heading {
    font-size: 2.5rem;
    color: $black_color;
    font-family: "poppins";
  }
  &__date {
    font-size: 1.4rem;
    color: $black_color;
    font-family: "poppins";
  }
}
.boxes {
  display: flex;
  margin: 0 -2rem 0 0;
  &__number {
    font-size: 2rem;
    font-family: "poppins";
    color: black;
    margin: 0 0 0 2rem;
  }
  &__heading {
    font-size: 1.2rem;
    font-family: "poppins";
    color: gray;
    margin: 0 0 0 2rem;
  }
  &__icon {
    color: gray;
    width: 1rem;
    height: 1rem;
    margin: 0 2rem;
  }
}
.in_projects_section {
  display: flex;
}
.three_small_line {
  color: $black_color;
  margin: 0 0 0 10rem;
  width: 2rem;
  height: 2rem;
}
.square_icon {
  color: $black_color;
  margin: 0 22rem 0 0;
  width: 2rem;
  height: 2rem;
}
// Grid Section
.sub_container_grid {
  display: grid;
  grid-template-columns: 8% 57% 35%;
}
.col_1 {
  overflow: auto;
  height: 50rem;
}
.col_2 {
  height: 55rem;
  color: white;
  background-color: $white_color;
  border-radius: 7%;
  overflow: auto;
}
.col_3 {
  height: 55rem;
  color: white;
  overflow: auto;
}
