.card_1 {
  width: 24rem;
  height: 23.7rem;
  background-color: $white_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
  @include responsive(mobile) {
  }
  @include responsive(tablet) {
    width: 28rem;
  }
  @include responsive(small_laptop) {
    width: 35rem;
  }
  @include responsive(large_display) {
    width: 30rem;
  }
  @media (min-width: 87em) and (max-width: 99em) {
    width: 35rem;
  }
  @media (min-width: 62em) and (max-width: 68em) {
    width: 30rem;
  }
  @media (min-width: 40em) and (max-width: 47em) {
    width: 45rem;
  }

  .progress_sub {
    height: 100%;
    background-color: rgba(0, 183, 255, 0.829);
    border-radius: 1.5rem;
    width: 90%;
  }

  .card_addition_icon {
    background-color: rgb(0, 183, 255);
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: rgba(47, 217, 247, 0.295);
    color: rgb(0, 183, 255);
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    @media (min-width: 20px) and (max-width: 400px) {
      background-color: #fad6b0;
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: rgba(128, 128, 128, 0.534);
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    text-align: right;
    @media (min-width: 33em) and (max-width: 42em) {
      text-align: center;
    }
  }

  .btnsection {
    border-top: 0.1px solid rgba(128, 128, 128, 0.63);
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 183, 255, 0.829);
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 5rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 2.2rem;
    }
    @media (min-width: 37em) and (max-width: 47em) {
      margin: 0 0 0 4.5rem;
    }

    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 1.75rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 3rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 183, 255, 0.829);
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 1rem;
    }
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 10rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 4.2rem;
    }
    @media (min-width: 37em) and (max-width: 48em) {
      margin: 0 0 0 8rem;
    }
    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 3.5rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 5rem;
    }
  }
}

.card_1:hover::before,
.card_1:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_2 {
  width: 24rem;
  height: 23.7rem;
  background-color: $orange_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
  @include responsive(mobile) {
  }
  @include responsive(tablet) {
    width: 28rem;
  }
  @include responsive(small_laptop) {
    width: 35rem;
  }
  @include responsive(large_display) {
    width: 30rem;
  }
  @media (min-width: 87em) and (max-width: 99em) {
    width: 35rem;
  }
  @media (min-width: 62em) and (max-width: 68em) {
    width: 30rem;
  }
  @media (min-width: 40em) and (max-width: 47em) {
    width: 45rem;
  }
  .progress_sub {
    height: 100%;
    background-color: orangered;
    border-radius: 1.5rem;
    width: 40%;
  }

  .card_addition_icon {
    background-color: orangered;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: orangered;
    color: $white_color;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 0 0 0 0;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 5rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 2.2rem;
    }
    @media (min-width: 37em) and (max-width: 47em) {
      margin: 0 0 0 4.5rem;
    }

    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 1.75rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 3rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 10rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 4.2rem;
    }
    @media (min-width: 37em) and (max-width: 48em) {
      margin: 0 0 0 8rem;
    }
    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 3.5rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 5rem;
    }
  }
}

.card_2:hover::before,
.card_2:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_3 {
  width: 24rem;
  height: 23.7rem;
  background-color: $green_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
  @include responsive(mobile) {
  }
  @include responsive(tablet) {
    width: 28rem;
  }
  @include responsive(small_laptop) {
    width: 35rem;
  }
  @include responsive(large_display) {
    width: 30rem;
  }
  @media (min-width: 87em) and (max-width: 99em) {
    width: 35rem;
  }
  @media (min-width: 62em) and (max-width: 68em) {
    width: 30rem;
  }
  @media (min-width: 40em) and (max-width: 47em) {
    width: 45rem;
  }

  .progress_sub {
    height: 100%;
    background-color: green;
    border-radius: 1.5rem;
    width: 50%;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .card_addition_icon {
    background-color: green;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
  }

  .time_left_btn {
    background-color: $white_color;
    color: green;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;

    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 0 0 0 -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: green;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 5rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 2.2rem;
    }
    @media (min-width: 37em) and (max-width: 47em) {
      margin: 0 0 0 4.5rem;
    }

    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 1.75rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 3rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: green;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 10rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 4.2rem;
    }
    @media (min-width: 37em) and (max-width: 48em) {
      margin: 0 0 0 8rem;
    }
    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 3.5rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 5rem;
    }
  }
}

.card_3:hover::before,
.card_3:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_4 {
  width: 24rem;
  height: 23.7rem;
  background-color: $pink_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
  @include responsive(mobile) {
  }
  @include responsive(tablet) {
    width: 28rem;
  }
  @include responsive(small_laptop) {
    width: 35rem;
  }
  @include responsive(large_display) {
    width: 30rem;
  }
  @media (min-width: 87em) and (max-width: 99em) {
    width: 35rem;
  }
  @media (min-width: 62em) and (max-width: 68em) {
    width: 30rem;
  }
  @media (min-width: 40em) and (max-width: 47em) {
    width: 45rem;
  }
  .progress_sub {
    height: 100%;
    background-color: rgb(218, 129, 159);
    border-radius: 1.5rem;
    width: 20%;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .card_addition_icon {
    background-color: rgb(218, 129, 159);
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: $white_color;
    color: rgb(218, 129, 159);
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: rgb(218, 129, 159);
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 5rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 2.2rem;
    }
    @media (min-width: 37em) and (max-width: 47em) {
      margin: 0 0 0 4.5rem;
    }

    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 1.75rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 3rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: rgb(218, 129, 159);
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 10rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 4.2rem;
    }
    @media (min-width: 37em) and (max-width: 48em) {
      margin: 0 0 0 8rem;
    }
    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 3.5rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 5rem;
    }
  }
}

.card_4:hover::before,
.card_4:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_5 {
  width: 24rem;
  height: 23.7rem;
  background-color: $purple_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
  @include responsive(mobile) {
  }
  @include responsive(tablet) {
    width: 28rem;
  }
  @include responsive(small_laptop) {
    width: 35rem;
  }
  @include responsive(large_display) {
    width: 30rem;
  }
  @media (min-width: 87em) and (max-width: 99em) {
    width: 35rem;
  }
  @media (min-width: 62em) and (max-width: 68em) {
    width: 30rem;
  }
  @media (min-width: 40em) and (max-width: 47em) {
    width: 45rem;
  }
  .progress_sub {
    height: 100%;
    background-color: purple;
    border-radius: 1.5rem;
    width: 70%;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .card_addition_icon {
    background-color: purple;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: $white_color;
    color: purple;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: purple;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 5rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 2.2rem;
    }
    @media (min-width: 37em) and (max-width: 47em) {
      margin: 0 0 0 4.5rem;
    }

    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 1.75rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 3rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: purple;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 10rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 4.2rem;
    }
    @media (min-width: 37em) and (max-width: 48em) {
      margin: 0 0 0 8rem;
    }
    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 3.5rem;
    }

    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 5rem;
    }
  }
}

.card_5:hover::before,
.card_5:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}
.card_6 {
  width: 24rem;
  height: 23.7rem;
  background-color: $orange_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;
  @include responsive(mobile) {
  }
  @include responsive(tablet) {
    width: 28rem;
  }
  @include responsive(small_laptop) {
    width: 35rem;
  }
  @include responsive(large_display) {
    width: 30rem;
  }
  @media (min-width: 87em) and (max-width: 99em) {
    width: 35rem;
  }
  @media (min-width: 62em) and (max-width: 68em) {
    width: 30rem;
  }
  @media (min-width: 40em) and (max-width: 47em) {
    width: 45rem;
  }
  .progress_sub {
    height: 100%;
    background-color: orangered;
    border-radius: 1.5rem;
    width: 10%;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .card_addition_icon {
    background-color: orangered;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: orangered;
    color: $white_color;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 5rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 2.2rem;
    }
    @media (min-width: 37em) and (max-width: 47em) {
      margin: 0 0 0 4.5rem;
    }

    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 1.75rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 3rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (min-width: 34em) and (max-width: 43em) {
      margin: 0 0 0 10rem;
    }
    @media (min-width: 85em) and (max-width: 124em) {
      margin: 0 0 0 4.2rem;
    }
    @media (min-width: 37em) and (max-width: 48em) {
      margin: 0 0 0 8rem;
    }
    @media (min-width: 34em) and (max-width: 37em) {
      margin: 0 0 0 3.5rem;
    }
    @media (min-width: 36em) and (max-width: 48em) {
      margin: 0 0 0 5rem;
    }
  }
}

.card_6:hover::before,
.card_6:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.cards_section {
  padding-bottom: 12rem;
  @media (min-width: 34em) and (max-width: 43em) {
    margin: 0 0 0 5rem;
  }
  @media (min-width: 16em) and (max-width: 23em) {
    padding-bottom: 1rem;
  }
}
.card_heading {
  font-size: 1.5rem;
  text-align: center;
  color: $black_color;
  font-family: "poppins";
}
.card_sub_heading {
  font-size: 1.2rem;
  color: $gray_color;
  font-family: "poppins";
  font-weight: 595;
  text-align: center;
}
.smallcard_scr {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 0 0 8rem 0;
}
.twodoticon {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  margin: 2rem 1rem;
  &__first {
    background-color: $black_color;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
  }
  &__second {
    background-color: $black_color;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
  }
}
.smallcards__staricon2 {
  display: none;
}
.smallcards:hover .smallcards__staricon {
  display: none;
}
.smallcards:hover .smallcards__staricon2 {
  display: block;
}

.cardflex {
  display: flex;
  justify-content: space-between;
  &__date {
    color: $gray_color;
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
    font-family: "poppins";
  }
  &__icon {
    color: $black_color;
    height: 1.8rem;
    width: 1.8rem;
    margin: 0 1.5rem 0 0;
  }
}
.two_card_flex {
  display: flex;
  margin: 5rem 4rem 0 6rem;
  align-items: center;
  gap: 5rem;

  @media (min-width: 37.4em) and (max-width: 47.85em) {
    width: 50rem;
  }
  @media (min-width: 25em) and (max-width: 37.3em) {
    margin-left: 4rem;
  }
  @media (min-width: 45em) and (max-width: 49em) {
    width: 60rem;
  }
  @media (min-width: 37em) and (max-width: 42em) {
    width: 60rem;
  }
  @media (min-width: 20em) and (max-width: 25em) {
    width: 39rem;
  }
  @media (min-width: 55em) and (max-width: 60em) {
    width: 50rem;
    margin-left: 5rem;
  }
  @media (min-width: 50em) and (max-width: 55em) {
    width: 48rem;
    margin-left: 8rem;
  }
  @media (min-width: 47em) and (max-width: 50em) {
    width: 72em;
  }
  @media (min-width: 40em) and (max-width: 47em) {
    width: 65rem;
  }
  @media (min-width: 33rem) and (max-width: 43em) {
    margin-left: 1rem;
  }
  @media (min-width: 20rem) and (max-width: 25em) {
    width: 45rem;
    margin-left: 4rem;
  }
}
.cardinfo_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
.progress_txt {
  color: $black_color;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 1rem 2rem -0.5rem 1.7rem;
}
.progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: rgba(128, 128, 128, 0.534);
  border-radius: 1.5rem;
  overflow: hidden;
}

.btnsection {
  border-top: 0.1px solid rgba(128, 128, 128, 0.63);
  display: flex;
  &__avatarone {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 1.5rem 1.5rem 0 1.7rem;
  }
  &__avatartwo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 1.5rem 1rem 1rem -2.3rem;
  }
}
.flex_title {
  display: flex;
  align-items: center;
}
.submit_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 0 0 0;
  border-top: 0.1px solid rgba(128, 128, 128, 0.63);
}
.btnsection__img1 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0 0 1rem;
}
.btnsection__img2 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0 0 -0.5rem;
}
.image_flex {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
}
.progress_status {
  color: $black_color;
  font-size: 1.2rem;
  font-family: "poppins";
  text-align: right;
  margin: 1rem 1.7rem 1rem 0;
  @media (min-width: 138em) and (max-width: 165em) {
    margin-right: 2rem;
  }
  @media (min-width: 88em) and (max-width: 125em) {
    margin-right: 4rem;
  }
  @media (min-width: 33em) and (max-width: 42em) {
    margin-right: 10rem;
  }
  @media (min-width: 32em) and (max-width: 42em) {
    margin-right: 4rem;
  }

  @media (min-width: 37em) and (max-width: 49em) {
    margin-right: 3rem;
  }
  @media (min-width: 26em) and (max-width: 37em) {
    margin-right: 1rem;
  }
  @media (min-width: 30em) and (max-width: 36em) {
    margin-right: 2rem;
  }
  @media (min-width: 26em) and (max-width: 30em) {
    margin-right: 1rem;
  }
  @media (min-width: 20em) and (max-width: 22em) {
    margin-right: 1rem;
  }
}

.addition_icons,
.addition_icons2,
.addition_icons3,
.addition_icons4,
.addition_icons5,
.addition_icons6 {
  background-color: rgb(0, 183, 255);
  color: $white_color;
  height: 1.65rem;
  width: 1.65rem;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 0 0 0 1rem;
}
.addition_icons2 {
  background-color: orangered;
  color: $white_color;
}
.addition_icons3 {
  color: $white_color;
  background-color: green;
}

.addition_icons4 {
  background-color: rgb(218, 129, 159);
}
.addition_icons5 {
  background-color: purple;
}
.addition_icons6 {
  background-color: orangered;
}
.card_1,
.card_2,
.card_3,
.card_4,
.card_5,
.card_6 {
  @include responsive(mobile) {
  }
  @include responsive(tablet) {
    width: 28rem;
  }
  @include responsive(small_laptop) {
    width: 35rem;
  }
  @include responsive(large_display) {
    width: 30rem;
  }
  @media (min-width: 98em) and (max-width: 125em) {
    margin: 0 2rem;
    width: 50rem;
  }
  @media (min-width: 87em) and (max-width: 99em) {
    width: 35rem;
  }
  @media (min-width: 62em) and (max-width: 68em) {
    width: 30rem;
  }

  @media (min-width: 50em) and (max-width: 58em) {
    width: 40rem;
  }
  @media (min-width: 44em) and (max-width: 49em) {
    width: 45rem;
  }
  @media (min-width: 38em) and (max-width: 42em) {
    width: 90rem;
  }
  @media (min-width: 25em) and (max-width: 34.3em) {
    width: 50rem;
  }
  @media (min-width: 25em) and (max-width: 37.3em) {
    width: 50rem;
  }
  @media (min-width: 57em) and (max-width: 61em) {
    width: 50rem;
  }
  @media (min-width: 34em) and (max-width: 37em) {
    width: 50rem;
  }
  @media (min-width: 16em) and (max-width: 23em) {
    width: 60rem;
  }
  @media (min-width: 37.5em) and (max-width: 50em) {
    width: 70rem;
  }

  @media (min-width: 36.5em) and (max-width: 39em) {
    width: 60rem;
  }
  @media (min-width: 33em) and (max-width: 34em) {
    margin-left: 3rem;
  }
  @media (min-width: 20em) and (max-width: 25em) {
    width: 90rem;
  }
}
