.card_1 {
  width: 24rem;
  height: 23.5rem;
  background-color: $white_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;

  .progress_sub {
    height: 100%;
    background-color: rgba(0, 183, 255, 0.829);
    border-radius: 1.5rem;
    width: 90%;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19rem;
  }

  .card_addition_icon {
    background-color: rgb(0, 183, 255);
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: rgba(47, 217, 247, 0.295);
    color: rgb(0, 183, 255);
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: rgba(128, 128, 128, 0.534);
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .btnsection {
    border-top: 0.1px solid rgba(128, 128, 128, 0.63);
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 183, 255, 0.829);
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 183, 255, 0.829);
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.card_1:hover::before,
.card_1:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_2 {
  width: 24rem;
  height: 23.5rem;
  background-color: $orange_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;

  .progress_sub {
    height: 100%;
    background-color: orangered;
    border-radius: 1.5rem;
    width: 40%;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .card_addition_icon {
    background-color: orangered;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: orangered;
    color: $white_color;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.card_2:hover::before,
.card_2:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_3 {
  width: 24rem;
  height: 23.5rem;
  background-color: $green_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;

  .progress_sub {
    height: 100%;
    background-color: green;
    border-radius: 1.5rem;
    width: 50%;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .card_addition_icon {
    background-color: green;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: $white_color;
    color: green;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: green;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: green;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.card_3:hover::before,
.card_3:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_4 {
  width: 24rem;
  height: 23.5rem;
  background-color: $pink_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;

  .progress_sub {
    height: 100%;
    background-color: rgb(218, 129, 159);
    border-radius: 1.5rem;
    width: 20%;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .card_addition_icon {
    background-color: rgb(218, 129, 159);
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: $white_color;
    color: rgb(218, 129, 159);
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: rgb(218, 129, 159);
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: rgb(218, 129, 159);
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.card_4:hover::before,
.card_4:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.card_5 {
  width: 24rem;
  height: 23.5rem;
  background-color: $purple_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;

  .progress_sub {
    height: 100%;
    background-color: purple;
    border-radius: 1.5rem;
    width: 70%;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .card_addition_icon {
    background-color: purple;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: $white_color;
    color: purple;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: purple;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: purple;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.card_5:hover::before,
.card_5:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}
.card_6 {
  width: 24rem;
  height: 23.5rem;
  background-color: $orange_color;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  position: relative;

  .progress_sub {
    height: 100%;
    background-color: orangered;
    border-radius: 1.5rem;
    width: 10%;
  }

  .progress_num {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 19.5rem;
  }

  .card_addition_icon {
    background-color: orangered;
    color: $white_color;
    height: 1.65rem;
    width: 1.65rem;
    border-radius: 50%;
    padding: 0.1rem;
    margin: 1.5rem 0 0 -0.3rem;
  }

  .time_left_btn {
    background-color: orangered;
    color: $white_color;
    font-family: "poppins";
    font-weight: 700;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1.2rem;
    margin: 1rem 0 0 5rem;
    transition: all 0.1s ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .progress_bar {
    width: 85%;
    margin: 1rem 1.5rem 0 1.7rem;
    height: 0.5rem;
    background-color: $white_color;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .progress_digit {
    color: $black_color;
    font-size: 1.2rem;
    font-family: "poppins";
    margin: 0.5rem 0 0.7rem 20rem;
  }

  .btnsection {
    border-top: 0.1px solid $white_color;
    display: flex;

    &__avatarone {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1.5rem 0 1.7rem;
    }

    &__avatartwo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 1.5rem 1rem 1rem -2.3rem;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    width: 80%;
    height: 0.3rem;
    visibility: hidden;
    border-radius: 2rem;
    opacity: 0;
    transition: all 0 ease-in-out;
    bottom: -1.3rem;
    transform: translate(-50%, -50%);
    margin: 0 0 0 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #fad6b0;
    visibility: hidden;
    transition: all 0 ease-in-out;
    margin: 0 0 0 4rem;
    bottom: -2.3rem;
    border-radius: 2rem;
    width: 65%;
    height: 0.3rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.card_6:hover::before,
.card_6:hover::after {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transform: translateY(0.2rem);
}

.cards_section {
  padding-bottom: 10rem;
}
.card_heading {
  font-size: 1.5rem;
  text-align: center;
  color: $black_color;
  font-family: "poppins";
}
.card_sub_heading {
  font-size: 1.2rem;
  color: $gray_color;
  font-family: "poppins";
  font-weight: 595;
  text-align: center;
}
.smallcard_scr {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 0 0 8rem 0;
}
.twodoticon {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  margin: 2rem 1rem;
  &__first {
    background-color: $black_color;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
  }
  &__second {
    background-color: $black_color;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
  }
}
.smallcards__staricon2 {
  display: none;
}
.smallcards:hover .smallcards__staricon {
  display: none;
}
.smallcards:hover .smallcards__staricon2 {
  display: block;
}
.cardflex {
  display: flex;
  justify-content: space-between;
  &__date {
    color: $gray_color;
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
    font-family: "poppins";
  }
  &__icon {
    color: $black_color;
    height: 1.8rem;
    width: 1.8rem;
    margin: 0 1.5rem 0 0;
  }
}
.two_card_flex {
  display: flex;
  margin: 5rem 2rem 4rem 10rem;
  gap: 08rem;
}
.cardinfo_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
.progress_txt {
  color: $black_color;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 1rem 2rem -0.5rem 1.7rem;
}
.progress_bar {
  width: 85%;
  margin: 1rem 1.5rem 0 1.7rem;
  height: 0.5rem;
  background-color: rgba(128, 128, 128, 0.534);
  border-radius: 1.5rem;
  overflow: hidden;
}
.progress_digit {
  color: $black_color;
  font-size: 1.2rem;
  font-family: "poppins";
  margin: 0.5rem 0 0.7rem 20rem;
}

.btnsection {
  border-top: 0.1px solid rgba(128, 128, 128, 0.63);
  display: flex;
  &__avatarone {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 1.5rem 1.5rem 0 1.7rem;
  }
  &__avatartwo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 1.5rem 1rem 1rem -2.3rem;
  }
}
