.bellsection {
  position: relative;

  &__icon {
    height: 2.5rem;
    width: 4rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      transform: rotate(20deg);
      cursor: pointer;
    }
  }
  &__dot {
    position: absolute;
    height: 0.7rem;
    width: 0.7rem;
    top: 10%;
    left: 55%;
    border-radius: 50%;
    background-color: $red_color;
  }
}
