.three_big_line_icon {
  width: 5rem;
  height: 4rem;
  margin: 0 0 0 0.3rem;
  transition: all 0.3s ease-in;
}
.three_big_line_icon:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.addition_icon {
  height: 2rem;
  width: 2rem;
  color: $white_color;
  background-color: $black_color;
  padding: 0.4rem;
  border-radius: 50%;

  transition: all 0.3s ease;
  cursor: pointer;
}
.addition_icon:hover {
  transform: scale(1.1);
}
.icon__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 3rem 0 0 0.5rem;
  &--icons {
    width: 2.2rem;
    height: 2.2rem;
    color: $black_color;
    padding: 1.5rem;
    transition: all 0.4s ease;
    border-radius: 50%;
    @media (min-width: 46em) and (max-width: 61em) {
      width: 3rem;
      height: 3rem;
    }
    @media (min-width: 38em) and (max-width: 45em) {
      width: 3rem;
      height: 3rem;
      margin: 0 2rem;
    }
    @media (min-width: 25em) and (max-width: 38em) {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 0 0 2rem;
    }
    @media (min-width: 13em) and (max-width: 25em) {
      width: 2rem;
      height: 2rem;
      margin: 0 0 0 1rem;
    }

    &:hover {
      background-color: $black_color;
      cursor: pointer;
      color: $white_color;
    }
    &:first-child {
      background-color: $black_color;
      color: $white_color;
      cursor: pointer;
    }
  }
  .three_small_line {
    width: 2rem;
    height: 2rem;
    color: $green_color;
  }
}
